::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #28c223; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #F31414; 
}

body{
  font-family: Caviar Dreams;
}

.container{
  display: none
}

#brand_apple, #brand_samsung{display: none;}

.bloc_produit{
  /*display: none;*/
  padding: 4%;
  margin-top: 5%;
  background-color: #fff;
  box-shadow: 0 0 25px 5px #000;
}

.bloc_produit .produit_description{
  margin-top: 5%;
}

.bloc_produit .produit_description ul li:last-child{
  margin-top: 10%;
  font-size: 2vw;
}

.bloc_produit .produit_description ul li:last-child span{
  color: #ff0000;
}


.bloc_produit ul{
  padding: 0%;
}

.bloc_produit img {
  width: 70%;
}

.bloc_produit ul li{
  text-align: left;
  list-style-type: none;
  color: #000;
  font-size: 2vw;
}

.bloc_vente{
  display: none;
  margin-top: 5%;
  background-color: #fff;
  box-shadow: 0 0 25px 5px #000;
  padding: 2%;
}

.footer{
  background-color: #9A9A9A;
  padding: 2% 0% 2% 0%;
}

.footer p{
  margin: 0%;
  padding: 1% 0% 1% 5%;
  background-color: #555;
  font-size: 1vw;
}

.bloc_vente input{
  padding: 1%;
  margin: 0.5%;
  font-size: 1.5vw;
}

.bloc_vente label{
  font-size: 1.5vw;
}

.bloc_vente form input{
  float: right;
}

.btn-green{padding: 0% 5% 0% 5%; border-radius: 5px; color: #28c223; border: 1px #28c223 solid; font-family: Distant Stroke; background-color: #fff; font-size: 2.5vw;}
.btn-green:hover{background-color: #28c223; border: 1px #28c223 solid; color: #000; transition: 0.2s;}

.btn-custom{   
  font-size: 2vw;
  float: left;
  background-color: #FF8400;
  color: white;
  text-shadow: 0 0 1px #fff;
  padding: 3%;
  border: 1px #ff8400 solid;
}

.btn-custom:hover{
  transition: 0.2s;
  border: 1px #ff8400 solid;
  background-color: white;
  color: #ff8400;
  border-radius: 10px;
}

.btn-cancel{
  font-size: 2vw;
  margin-left: 5%;
  float: left;
  background-color: #ff0000;
  color: white;
  text-shadow: 0 0 1px #fff solid;
  padding: 3%;
  border: 1px #ff0000 solid;
}

.btn-cancel:hover{
  transition: 0.2s;
  border: 1px #ff0000 solid;
  background-color: white;
  color: #ff0000;
  border-radius: 10px;
  cursor: pointer;
}
 
.btn-success{font-size: 1.5vw; float:left;}

#spot_information_comme_neuf, 
#spot_information_tres_bon_etat,
#spot_information_fonctionnel, 
#spot_information_non_fonctionnel{
  display: none;
  padding: 2%;
  background-color: #fff;
  color: #000;
  font-size: 2vw;
  text-align: justify;
  box-shadow: 0 0 20px 5px #000;
}

.bloc-responsive{
  display: none;
}



.equipe-juridique{
  padding: 5%;
  border: 1px black solid;
  margin-top: 20%;
  border-radius: 10px;

}




/* =Header
---------------------- */

.landing-header {
  text-align: center;
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}


.landing-header-title {
  color: white;
  font-size: 3.9vw;
  font-weight: 600;
  text-shadow: 0 0 1px black;
}


.landing-header-intro {
  font-size: 2.5vw;
  color: white;
  text-shadow: 0 0 1px black;
  line-height: 1.2;
}

.formulaire_accueil{
  margin-top: 5%
}

.formulaire_accueil select{
  padding: 2%;
  margin: 2%;
  font-size: 1vw;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  color: #000;
  width: 25%;
}


/*Affaire familiale*/

.landing-header-title-AF {
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0 0 1px black;
  margin-top: 0;
}


.landing-header-intro-AF {
  font-size: 25px;
  color: white;
  text-shadow: 0 0 1px black;
  margin-bottom: 500px;
  line-height: 1.2;
  margin-bottom: 7%;
}

.landing-header-intro-numero {
  font-size: 35px;
  color: white;
  text-shadow: 0 0 1px white;
  margin-bottom: 500px;
  line-height: 0.9;
  margin: auto;
  padding: 2%;
  border: 2px #28c223 solid;
  border-radius: 10px;
  width: 30%;
  background-color: #28c223
}

.landing-header-intro-numero-affaires {
  font-size: 35px;
  color: white;
  text-shadow: 0 0 1px white;
  margin-bottom: 500px;
  line-height: 0.9;
  margin: auto;
  padding: 2%;
  border: 2px #28c223 solid;
  border-radius: 10px;
  width: 30%;
  background-color: #28c223
}

.landing-header-intro-numero-litiges {
  font-size: 35px;
  color: white;
  text-shadow: 0 0 1px white;
  margin-bottom: 500px;
  line-height: 0.9;
  margin: auto;
  padding: 2%;
  border: 2px #E38C5E solid;
  border-radius: 10px;
  width: 30%;
  background-color: #E38C5E
}

.landing-header-intro-numero-contentieux {
  font-size: 35px;
  color: white;
  text-shadow: 0 0 1px white;
  margin-bottom: 500px;
  line-height: 0.9;
  margin: auto;
  padding: 2%;
  border: 2px #C96E06 solid;
  border-radius: 10px;
  width: 30%;
  background-color: #C96E06;
}

.landing-header-intro-numero-permis {
  font-size: 35px;
  color: white;
  text-shadow: 0 0 1px white;
  margin-bottom: 500px;
  line-height: 0.9;
  margin: auto;
  padding: 2%;
  border: 2px #E12124 solid;
  border-radius: 10px;
  width: 30%;
  background-color: #E12124
}

.landing-header-intro-numero-prud {
  font-size: 35px;
  color: white;
  text-shadow: 0 0 1px white;
  margin-bottom: 500px;
  line-height: 0.9;
  margin: auto;
  padding: 2%;
  border: 2px #3C0400 solid;
  border-radius: 10px;
  width: 30%;
  background-color: #3C0400
}


/*Litiges du quotidien*/

.landing-header-title-litiges {
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0 0 1px black;
  margin-top: 0;
}


.landing-header-intro-litiges {
  font-size: 25px;
  color: white;
  text-shadow: 0 0 1px black;
  margin-bottom: 500px;
  line-height: 1.2;
 margin-bottom: 7%;
}


/*Contentieux*/

.landing-header-title-contentieux {
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0 0 1px black;
  margin-top: 0;
}


.landing-header-intro-contentieux {
  font-size: 25px;
  color: white;
  text-shadow: 0 0 1px black;
  margin-bottom: 500px;
  line-height: 1.2;
 margin-bottom: 7%;
}


/*Permis*/

.landing-header-title-permis {
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0 0 1px black;
  margin-top: 0;
}


.landing-header-intro-permis {
  font-size: 25px;
  color: white;
  text-shadow: 0 0 1px black;
  margin-bottom: 500px;
  line-height: 1.2;
  margin-bottom: 7%;
}


/*Prud'hommes*/

.landing-header-title-prud {
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0 0 1px black;
  margin-top: 0;
}


.landing-header-intro-prud {
  font-size: 25px;
  color: white;
  text-shadow: 0 0 1px black;
  margin-bottom: 500px;
  line-height: 1.2;
  margin-bottom: 7%;
}

.enregistrement{
  background-color: #fff;
  color: #000;
  padding: 2%;
  box-shadow: 0 0 20px 10px black;
}

.enregistrement img{
  width: 50%;
}


/*
Réglages du background de la page */


.home .homepage-background {
  background: url("../img/landing-2.jpg") no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.home .homepage-background-litiges {
  background-position: bottom;
  height: 418px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}


.home .homepage-background-AF {
  background-position: center;
  height: 418px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.merci{
  padding: 1%;
  color: white;
  text-shadow :0 0 1px black;
}

.home .homepage-background-contentieux {
  background-position: top;
  height: 458px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.home .homepage-background-permis {
  height: 418px;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.home .homepage-background-prud {
  background-position: center;
  height: 418px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}


.home .homepage-background-contentieux .navigation p{
  border: 0px black solid;
  margin-top:;
  background-color: white;
  text-shadow: 0 0 1px white;
  color: black;
  width: 100px;
  height: 100px;
  line-height: 5.5;
  margin:auto;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.home .homepage-background-contentieux .navigation{
  border: 0px black solid;
  padding: 0;
  margin:auto;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.socials{
  margin-left: 48%;
  margin-top: -5%;
  padding:0.8%;
}

.socials a:hover{
  opacity: 0.7;
  transition: 0.4s;
}











                                                  /*  boutons submit END*/

.validation-formulaire{
  height: 800px;
  background-color: white;
  color: black;
}


.validation-formulaire-affaire{
  height: 620px;
  background-color: white
}

.width{
  width: 80%;
  transition: 1.0s;
}


.validation-formulaire-affaire h1{
  text-align: center;
  font-size: 30px;
  color: #28c223;
}    






.header-logo{
  width: 50%;
}

.absolute{
  font-size: 3vw;
  margin: 0% 0% 3% 0%;
  text-align: center;
  text-shadow: 0 0 1px #000;
  color: #000;
}

.f-title{
  margin-bottom: 2%;
  margin-top: 2%;
  color: #1093BB;
  text-shadow: 0 0 1px black;
  font-size: 1.5vw;
}

.f-details{
  font-size: 1vw;
  margin-bottom: 5%;
  padding: 3%;
  color: #000;
}

#features{
  text-align: center;
  color: #000;
}

.container .section-heading{
  margin-bottom: 3%;
  margin-top: 3%;
}

.container .section-heading-1{
  margin-bottom: 3%;
  margin-top: 5%;
  font-size: 25px;
}

.three-steps{
  padding: 2%;
  border-bottom: 1px #000 solid;
}

.three-steps div p{
  text-align: justify;
  font-size: 1vw;
}

.three-steps div .fa{
  padding: 4%;
  font-size: 6vw;
}

/*Les formulaires*/






                                              /*Les formulaires*/

/*------------------------------------------------------------------
  PRESSE
-------------------------------------------------------------------*/

.presse{
  padding: 1%;
  margin: auto;
  text-align: center;
  background-color: #E2E2E2
}

.presse img{
  width: 150px;
  margin: 3%;
}

.presse h2{
  color: #28c223;
  text-shadow: 0 0 1px #28c223;
  font-size: 40px;
  }

.background{
  border-bottom: 1px #000 solid;
  padding: 2% 5% 2% 5%;
  text-align: center;
}



/*------------------------------------------------------------------
  Section du carousel
-------------------------------------------------------------------*/

.testimonial{
  padding-bottom:50px;
  padding-left:100px;
  padding-right:100px;
  text-align:center;
}
.testimonial img{
  height: 105px; 
  width: 105px; 
  border-radius: 50px
}

.testimonial-title{
  color:#ffffff;
  font-size:18px;
  font-weight:500;
}
/* The style of text under the name */
.testimonial-subtitle{
  color:#ffffff;
  font-size:11px;
}

.left .carousel-control{
  padding: 10%;
  margin: 10%;
}

.carousel-control{
  height: 53px; 
  width: 30px;
}


#tetimonials{
  height: 30px;
}

/* And this is the style for the details text */
.testimonial-details{
  color:#ffffff;
  font-size:16px;
  margin-top:30px;
}

/* CGV */

.conditions h1{
  color: #28c223;
  margin-top: 8%;
  margin-bottom: 8%;
  text-align: center;
  font-size: 30px;
}

.conditions-label label{
  color: #28c223;
  border: 2px #28c223 solid;
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  text-shadow: 0 0 1px #28c223;
  width: 100%;
}

.lead p{
  margin-top: 3%;
  margin-bottom: 3%;
}

.conditions-label p{
  margin-top: 3%;
  margin-bottom: 3%;
}

.conditions-label label:hover{
  transition: 0.6s;
  color: white;
  border: 2px #28c223 solid;
  background-color: #28c223;
  cursor: pointer;
}

.switch{
  display: none;
  color: white;
  border: 2px #28c223 solid;
  background-color: #28c223;
  padding: 1%;
  margin-bottom: 5%;
  border-radius: 10px;
  text-shadow: 0 0 1px #28c223;
}

.switch:hover{
  cursor: pointer;
}

#loading{
  display: none;
  margin-top: 10%;
  border: 1px #28c223 solid;
  padding: 2%;
  border-radius: 100%;
}

#loading span{
  font-size: 2vw;
  color: #000;
  text-shadow : 0 0 1px #000;
}

/* Animation CSS */

#loader-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0088cc;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #28c223;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/*Navbar*/

.navbar-brand{
  font-size: 2vw;
  margin-left: 10%;
}

.header_brand{
  box-shadow: 0 0 5px 2px #c8c8c8;
  background-color: #fff
}

.header_brand a{
  font-family: Distant Stroke;
  font-size: 4vw;
  line-height: 1.2;
  padding: 0% 0% 0% 10%;
}

.header_brand form{
  float: right;
  margin-top: 1.3%;
}

.btn-success_custom{
  background-color: #28c223;
  border: 1px #28c223;
  color: white;
  font-size: 1vw;
}

.header_brand input{
  padding: 2%;
  font-size: 1vw
}

.header_brand a:hover{
  text-decoration: none
}

.navbar-default{
  background-color: #fff;
  margin-top: 5%;
  margin-bottom: 0%;
}

.navbar-nav{
  font-size: 1.3vw;
  float: none;
  font-weight: 700;
  color: black;
}

.navbar-nav li{
  margin: auto;
}

.navbar-responsive{
  display: none
}

.navbar-collapse .navbar-nav li{
  padding: 1%;
  font-size: 1.3vw;
}

.navbar-collapse .navbar-nav li:hover{
  transition: 0.2s;
  background-color: #28c223;
}

.navbar-collapse .navbar-nav li a:hover{
  color: white;
}


/*Si demand traitée*/

.box{
  padding: 3%;
  background-color: white;
  font-size: 2vw;
  box-shadow: 0 0 20px 5px #000;
}

@media screen and (max-width: 768px){
 .header_brand{
  display: none
  }
  .navbar-default{
    display: none;
    margin-top: 0%;
  }
  .navbar-responsive{
    display: block;
  }
  .navbar-brand{
  font-size: 6vw;
  margin-left: 5%;
  font-family: Distant Stroke;
  }
}